<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Nicolae Rusan</string>
	<key>Builder Version</key>
	<string>7534.52.7</string>
	<key>CFBundleDisplayName</key>
	<string>RottenNetflixExt</string>
	<key>CFBundleIdentifier</key>
	<string>com.nicolaerusan.rottennetflixext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-1.7.1.min.js</string>
				<string>rotten_netflix.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>rotten_netflix.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Rotten Tomatoes reviews for movies while browsing Netflix (i.e. nicely incorporated into the site)</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.netflix.com</string>
				<string>*.rottentomatoes.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
